<div class="jumbotron">
    <h1>I6AO ROC van Twente</h1>
    <p class="lead">Deze API is beschikbaar voor studenten van de opleiding applicatieontwikkeling van ROC van Twente.</p>
    <p><a href="http://www.rocvantwente.nl" class="btn btn-primary btn-lg">ROC van Twente &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="~/Content/Images/roc_van_twente_ROC-van-Twente-Hengelo-004-1024x682.jpg" id="rocvt-image" />
    </div>
    <div class="col-md-6">
        <h2>Applicatieontwikkeling</h2>
        <p>
            De applicatieontwikkelaar is in dienst bij bedrijven die software en IT-media producten ontwikkelen. 
            Dit kunnen zowel grote als kleine bedrijven zijn.<br /><br />

            Taken van de Applicatieontwikkelaar zijn het ontwikkelen en realiseren van software en IT-media producten. 
            Hierbij moet je denken aan besturingsprogramma’s, toepassingsprogramma’s, netwerkprogramma’s, applicaties voor het internet, 
            entertainmentsoftware en interactieve informatiedragers bijvoorbeeld cd-rom’s, websites, cursusmateriaal en televisiebeelden. 
            De werkzaamheden van de Applicatieontwikkelaar worden in projectvorm uitgevoerd, je werkt dus met collega’s aan één project. 
            Daarom moet je goed kunnen communiceren met je collega’s. In een project werk je met deadlines, dus werken onder tijdsdruk mag geen problemen opleveren. 
            In een beroep als dit is planmatig werken belangrijk.
        </p>
    </div>

</div>
